<!DOCTYPE html>
<html>
<head>
    <title>Maison Aurielle | Add Record</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>MAISON AURIELLE</h2>

        <a href="/">Dashboard</a>
        <a href="/add">Add Record</a>
        <a href="#">Archive</a>
    </div>

    <!-- MAIN -->
    <div class="main">

        <h1>NEW ENTRY</h1>
        <p>secure archival data input terminal</p>

        <!-- EDITORIAL FORM CONTAINER -->
        <div class="form-wrapper">

            <form method="POST" class="form-box">

                <label>FULL NAME</label>
                <input type="text" name="name" placeholder="e.g. Rahul Sharma" required>

                <label>AGE</label>
                <input type="number" name="age" placeholder="e.g. 21" required>

                <label>PROGRAM</label>
                <select name="course" required>
                    <option value="" disabled selected>Select Program</option>
                    <option value="BTECH CSE">BTECH CSE</option>
                    <option value="BTECH IT">BTECH IT</option>
                    <option value="BCA">BCA</option>
                    <option value="BBA">BBA</option>
                    <option value="MCA">MCA</option>
                </select>

                <button type="submit">SUBMIT RECORD</button>

            </form>

        </div>

    </div>

</div>

</body>
</html>