<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="layout">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>ARCHIVE</h2>
        <a href="/">Dashboard</a>
        <a href="/add">Add Student</a>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main">

        <h1>EDIT STUDENT</h1>
        <p>Modify existing record · maintain data integrity</p>

        <form method="POST" class="form-box">

        

      <input type="text" name="name" value="{{ student[1] }}" required>

      <input type="number" name="age" value="{{ student[2] }}" required>

      <select name="course" required>
    <option value="BTECH CSE" {% if student[3]=='BTECH CSE' %}selected{% endif %}>BTECH CSE</option>
    <option value="BTECH IT" {% if student[3]=='BTECH IT' %}selected{% endif %}>BTECH IT</option>
    <option value="BCA" {% if student[3]=='BCA' %}selected{% endif %}>BCA</option>
    <option value="BBA" {% if student[3]=='BBA' %}selected{% endif %}>BBA</option>
    <option value="MCA" {% if student[3]=='MCA' %}selected{% endif %}>MCA</option>
</select>

    <button type="submit">UPDATE</button>

</form>

            



    </div>

</div>

</body>
</html>