<!DOCTYPE html>
<html>
<head>
    <title>Maison Aurielle | Edit Record</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>MAISON AURIELLE</h2>

        <a href="/">Dashboard</a>
        <a href="/add">Add Record</a>
        <a href="#">Archive</a>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main">

        <h1>EDIT RECORD</h1>
        <p>modify archived identity · maintain system integrity</p>

        <!-- FORM WRAPPER -->
        <div class="form-wrapper">

            <form method="POST" class="form-box">

                <label>FULL NAME</label>
                <input type="text" name="name" value="{{ student[1] }}" required>

                <label>AGE</label>
                <input type="number" name="age" value="{{ student[2] }}" required>

                <label>PROGRAM</label>
                <select name="course" required>

                    <option value="BTECH CSE" {% if student[3]=='BTECH CSE' %}selected{% endif %}>
                        BTECH CSE
                    </option>

                    <option value="BTECH IT" {% if student[3]=='BTECH IT' %}selected{% endif %}>
                        BTECH IT
                    </option>

                    <option value="BCA" {% if student[3]=='BCA' %}selected{% endif %}>
                        BCA
                    </option>

                    <option value="BBA" {% if student[3]=='BBA' %}selected{% endif %}>
                        BBA
                    </option>

                    <option value="MCA" {% if student[3]=='MCA' %}selected{% endif %}>
                        MCA
                    </option>

                </select>

                <button type="submit">UPDATE RECORD</button>

            </form>

        </div>

    </div>

</div>

</body>
</html>