<!DOCTYPE html>
<html>
<head>
    <title>NOIRÉ | Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-page">

<div class="login-container">

    <div class="login-left">
        <h1>student archive</h1>
        <p>Student Management System</p>
        <span>Sign in to continue</span>
    </div>

    <div class="login-right">

        <form method="POST" class="login-form">

            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password" required>

            <button type="submit">SIGN IN</button>

        </form>

    </div>

</div>

</body>
</html>